*{
    margin: 0px;
    padding: 0px;
    

}
body{
    background-color: #DDD9D6;
   
}

.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content;
    max-width: 950px;
    margin-left: 180px;
   
}
.product{

    text-align: center;
    margin: 10px;
    padding: 0px 15px ;
    border: 3px solid #E8CD94;
    border-radius: 5px;
    background: white
}
.product img{
    margin: 10px;
    max-width: 200px;
}

h2{
    margin-top: 7px;
    font-size: 14px;
}
.row{
margin-top: 15px;
padding: 0;
justify-content: center;


}


.page-product{
    width: 350px;
    margin: auto ;
    text-align: center;
    border: 3px solid #E8CD94;
    background: white;
    padding: 10px;
}
.page-product h2{
    margin: 10px;
}
.box-detail h1{
    text-align: center;
    margin-bottom: 20px;

}

footer{
    background-color: #f1e6cf;
}

.navbar{   
     background-color: #f1e6cf;
}
.product h2{
    font-size: 15px;
    cursor: pointer;
}

.container{
display: flex;
max-width: 1600px;
justify-content: center;
margin: 0;

}
.page{
    display: flex;
  
}
.recent-products{
    border: 3px solid #E8CD94;
    background-color: white;
    padding: 15px;
    height: 840px;
    width: 300px;
    align-items: center;
   
    
}
.recent-products h2{
    margin: 0 auto;
    font-size: 25px;
    width: 200px;

}
.recently {
    padding-top: 30px;
    text-align: center;
 
}
@media screen and (max-width:1100px){
    .products{
        margin-left: 0px;
    }
}
@media  screen and ( max-width: 750px){
    .page{
        display: flex;
        flex-direction: column;
       
  
        
    }
    .recent-products{
        width: 100%;
        margin-right: px;
        
    }
    
}