*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body{
    background-color: #DDD9D6;
   
}

.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.product{

    text-align: center;
    margin: 10px;
    border: 3px solid #E8CD94;
    border-radius: 5px;
    background: white
}
.product img{
    margin: 10px;
    max-width: 200px;
}

h2{
    margin-top: 7px;
    font-size: 14px;
}
.row{
margin-top: 15px;
padding: 0;
justify-content: center;


}


.page-product{
    width: 350px;
    margin: auto ;
    text-align: center;
    border: 3px solid #E8CD94;
    background: white;
    padding: 10px;
}
.page-product h2{
    margin: 10px;
}
.box-detail h1{
    text-align: center;
    margin-bottom: 20px;

}

footer{
    background-color: #f1e6cf;
}

.navbar{   
     background-color: #f1e6cf;
}
.product h2{
    font-size: 15px;
    cursor: pointer;
}